body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: 'Silkscreen', 'Fusion Pixel monospaced', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #131415;
  color: #fff;
  font-size: 16px;
}
/* CSS styles for the maze */
#wrapper, #maze {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#maze {
  display: none;
}

#wrapper {
  width: 60vw;
  max-width: 300px;
  border: 5px solid #131415;
  background: #FFF;
  box-shadow: 0 0 30px 10px #000;
  margin: 20px;
}

#level {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 0 0 10px #999;
}

.cell {
  max-width: 100px;
  max-height: 100px;
  width: 20vw;
  height: 20vw;
  border: 1px solid #131415;
  box-sizing: border-box;
  background-color: white;
}

.desc-list {
  display: flex;
  width: 70vw;
  max-width: 350px;
  flex-direction: row;
  flex-wrap: wrap;
}

.decs-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: flex-start;
  width: 50%;
}

#color-desc {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  background: rgba(0,0,0, .8);
  width: 100vw;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 10;
  left: -100vw;
  cursor: pointer;
  transition: all .5s;
}

#color-desc .cell {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0 5px 0;
  border-color: #FFF;
}

#color-desc .wall {
  background-size: 50%;
}

#color-desc .desc {
  display: inline-block;
  white-space: nowrap;
}

#color-desc .goal-direction {
  border: 2px dashed green;
}

#color-desc p {
  max-width: 350px;
  width: 70vw;
  margin: 0 auto 10px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}


.wall {
  background: #000 url(../img/wall.png);
}

.current, .current-all {
  background-color: yellow;
}

.goal {
  background-color: green;
}

.begin {
  background-color: red;
}

.goal-direction {
  border: 4px dashed green;
}

#result {
  text-align: center;
  font-size: 3rem;
  color: #d31f12;
}

#next {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  text-align: center;
  white-space: nowrap;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}