@font-face {
    font-family: 'Silkscreen';
    src: url('Silkscreen.eot');
    src: url('Silkscreen.eot?#iefix') format('embedded-opentype'),
        url('Silkscreen.woff2') format('woff2'),
        url('Silkscreen.woff') format('woff'),
        url('Silkscreen.ttf') format('truetype'),
        url('Silkscreen.svg#Silkscreen') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fusion Pixel monospaced';
    src: local('Fusion Pixel monospaced'), local('Fusion-Pixel-monospaced-Regular'),
        url('Fusion-Pixel-monospaced-Regular.woff2') format('woff2'),
        url('Fusion-Pixel-monospaced-Regular.woff') format('woff'),
        url('Fusion-Pixel-monospaced-Regular.ttf') format('truetype'),
        url('Fusion-Pixel-monospaced-Regular.svg#Fusion-Pixel-monospaced-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

